### ETL Extract Phase
### Objective
Load `raw_data.csv` and `incremental_data.csv`, inspect their structure, and document observations about data quality (e.g., missing values, duplicates). Save raw copies to `data/` folder.
### Tools
- Python, pandas

In [1]:
# Import required library for data handling
import pandas as pd

# Define relative file paths to ensure portability
raw_data_path = 'data/raw_data.csv'
incremental_data_path = 'data/incremental_data.csv'

# Load datasets into DataFrames
raw_df = pd.read_csv(raw_data_path)
incremental_df = pd.read_csv(incremental_data_path)

## Inspect Raw Data

In [2]:
# Display first 5 rows to preview raw_data
print('Raw Data Preview:')
raw_df.head()

Raw Data Preview:

   order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet       NaN       500.0  2024-01-20  South
1         2           Eve  Laptop       NaN         NaN  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08    NaN
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         NaN  2024-03-07  South

```markdown
## Inspect Incremental Data
```

In [3]:
# Display first 5 rows to preview incremental_data
print('Incremental Data Preview:')
incremental_df.head()

Incremental Data Preview:

   order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       NaN       900.0  2024-05-09  Central
1       102           NaN  Laptop       1.0       300.0  2024-05-07  Central
2       103           NaN  Laptop       1.0       600.0  2024-05-04  Central
3       104           NaN  Tablet       NaN       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

In [ ]:
# Display structure and data types of incremental_data
print('Incremental Data Info:')
incremental_df.info()

Incremental Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   customer_name  4 non-null      object
 2   product        10 non-null     object
 3   quantity       6 non-null      float64
 4   unit_price     10 non-null     float64
 5   order_date     10 non-null     object
 6   region         8 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 692.0+ bytes

## Observations
- **Raw Data** (100 rows):
  - Columns: `order_id`, `customer_name`, `product`, `quantity`, `unit_price`, `order_date`, `region`
  - Missing values: Many rows have missing `customer_name` (e.g., row 2), `quantity` (e.g., row 1), `unit_price` (e.g., row 5), `order_date` (e.g., row 16), and `region` (e.g., row 3).
  - Duplicates: Order ID 4 appears twice, indicating a potential error.
  - Data types: `quantity` and `unit_price` are float64, but `order_date` is object (needs datetime conversion).
  - Suspicious: Inconsistent values (e.g., missing `unit_price` for high-quantity orders).
- **Incremental Data** (10 rows):
  - Same columns as raw data.
  - Missing values: Several rows lack `customer_name` (e.g., row 2), `quantity` (e.g., row 1), or `region` (e.g., row 8).
  - No duplicates based on `order_id`.
  - Data types: `order_date` is object, needs conversion.
- **Action Needed**: Clean missing values, remove duplicates, convert data types for analysis.

In [5]:
# Check for duplicate order_ids
print('Raw Data Duplicates:', raw_df.duplicated(subset=['order_id']).sum())
print('Incremental Data Duplicates:', incremental_df.duplicated(subset=['order_id']).sum())

Raw Data Duplicates: 1
Incremental Data Duplicates: 0

In [7]:
# Save raw datasets to data/ folder (overwrites to verify)
raw_df.to_csv('data/raw_data.csv', index=False)
incremental_df.to_csv('data/incremental_data.csv', index=False)
print('Raw datasets saved to data/ folder.')

Raw datasets saved to data/ folder.