# ETL Load Phase
## Objective
Load `transformed_full.csv` and `transformed_incremental.csv` into SQLite databases, verify results with SQL queries, and save to `loaded/` folder.
## Tools
- Python, pandas, sqlite3

In [2]:
# Import libraries for data handling and database operations
import pandas as pd
import sqlite3
import os

# Load transformed datasets
full_df = pd.read_csv('transformed/transformed_full.csv')
incremental_df = pd.read_csv('transformed/transformed_incremental.csv')

## Load Full Data to SQLite

In [3]:
# Ensure loaded/ folder exists
os.makedirs('loaded', exist_ok=True)

# Connect to SQLite database
conn = sqlite3.connect('loaded/full_data.db')

# Load full data to table
full_df.to_sql('full_data', conn, if_exists='replace', index=False)

# Verify with SQL query
query = 'SELECT * FROM full_data LIMIT 5'
result = pd.read_sql(query, conn)
print('Full Data Preview:')
print(result)

# Close connection
conn.close()

Full Data Preview:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0         1         Diana  Tablet       1.0       500.0  2024-01-20    South
1         2           Eve  Laptop       1.0       500.0  2024-04-29    North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08  Unknown
3         4           Eve  Laptop       2.0       750.0  2024-01-07     West
4         5           Eve  Tablet       3.0       500.0  2024-03-07    South

   total_price    month price_category
0        500.0  January         Medium
1        500.0    April         Medium
2        500.0  January         Medium
3       1500.0  January           High
4       1500.0    March           High

## Load Incremental Data to SQLite

In [4]:
# Connect to SQLite database
conn = sqlite3.connect('loaded/incremental_data.db')

# Load incremental data to table
incremental_df.to_sql('incremental_data', conn, if_exists='replace', index=False)

# Verify with SQL query
query = 'SELECT * FROM incremental_data LIMIT 5'
result = pd.read_sql(query, conn)
print('Incremental Data Preview:')
print(result)

# Close connection
conn.close()

Incremental Data Preview:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0       101         Alice  Laptop       1.0       900.0  2024-05-09  Central
1       102       Unknown  Laptop       1.0       300.0  2024-05-07  Central
2       103       Unknown  Laptop       1.0       600.0  2024-05-04  Central
3       104       Unknown  Tablet       1.0       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

   total_price month price_category
0        900.0   May         Medium
1        300.0   May            Low
2        600.0   May         Medium
3        300.0   May            Low
4       1200.0   May         Medium